<section id="hero">
  <div id="enlaceTwitch">
    <h1><a href="https://www.twitch.tv/ibai" target="_blank"> twitch.tv/ibai </a></h1>
  </div>
  <main id="imgFondo">
    <img src="./assets/Vector.svg">
    <div id="logoHero">
      <img src="./assets/logoVelada.png">
    </div>
  </main>
  <section id="informacion">
    <main>
      <h2>13 de julio</h2>
      <h3><mat-icon>location_on</mat-icon> ESTADIO SANTIAGO BERNABÉU</h3>
    </main>
    <footer>
      <div id="btnsArriba">
        <app-btn enlaceBtn="" txtBtn="Compra tus entradas"></app-btn>
        <app-btn enlaceBtn="" txtBtn="Tienda oficial"></app-btn>

      </div>
      <div>
        <app-btn enlaceBtn="" txtBtn="Agregar al calendario"></app-btn>
      </div>
    </footer>
  </section>

</section>
