<nav class="navbar">
  <div class="container">
    <div class="evento-item">
      <li>
        <a href="#">EL EVENTO</a>
      </li>
    </div>
    <div class="combates-item">
      <li>
        <a href="#">COMBATES</a>
      </li>
    </div>
    <div class="logotipo">
      <img src="assets/logoVelada.png">
    </div>
    <div class="pronosticos-item">
      <li>
        <a href="#">PRONÓSTICOS</a>
      </li>
    </div>
    <div class="entradas-item">
      <li>
        <a href="#">ENTRADAS</a>
      </li>
    </div>
  </div>
</nav>
