<nav class="navbar-desktop">
  <div class="navbarLink">
    <div class="navbarLinkItem">
      <span><a routerLink="">El evento</a></span>
    </div>
  </div>
  <div class="navbarLink">
    <div class="navbarLinkItem">
      <span><a routerLink="">Combates</a></span>
    </div>
  </div>
  <img src="./assets/logoVelada.png" class="navbarBrand">
  <div class="navbarLink">
    <div class="navbarLinkItem">
      <span><a routerLink="">Pronósticos</a></span>
    </div>
  </div>
  <div class="navbarLink">
    <div class="navbarLinkItem">
      <span><a routerLink="">Entradas</a></span>
    </div>
  </div>
</nav>
<div class="separador">
  <hr>
</div>
