<link rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"/>
<nav class="navbar navbar-expand-md">
  <div class="container-fluid">
    <button class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#menu"
            aria-controls="menu"
            aria-expanded="false"
            aria-label="Abrir menú">
      <span class="material-symbols-outlined">
      menu
      </span>
    </button>
    <div class="collapse navbar-collapse" id="menu">
      <a class="nav-link" routerLinkActive="activo" routerLink="/home">El evento</a>
      <a class="nav-link" routerLinkActive="activo" routerLink="/combates">Combates</a>
      <a class="nav-link" routerLinkActive="activo" routerLink="/pronosticos">Pronósticos</a>
      <a class="nav-link" href="https://www.entradas.com/artist/la-velada-del-ano/?affiliate=LVL" target="_blank"><div class="menu"> Entradas  <span class="agotadas">agotadas</span> </div></a>
    </div>
  </div>
  <div id="logoVelada">
    <img src="./assets/logoVelada.png" alt="logo del evento">
  </div>
</nav>
