<section class="countdown">
  <main>
    <h2>Para el inicio de la velada de año faltan...</h2>
    <div class="container" id="dias">
      <app-countdowndias [numero]="timeRemaining.days()" texto="dias"></app-countdowndias>
    </div>
    <div class="container" id="hora">
      <app-countdowndias [numero]="timeRemaining.hours()" texto="horas"></app-countdowndias>:
      <app-countdowndias [numero]="timeRemaining.minutes()" texto="minutos"></app-countdowndias>:
      <app-countdowndias [numero]="timeRemaining.seconds()" texto="segundos"></app-countdowndias>
    </div>

  </main>
</section>
