.btn-personalizado{
  width: 250px;
  height: 50px;
  border-color: $blanco;
  background-color: transparent;
  color: $blanco;
  transform: skew(-20deg);
  display: flex;
  justify-content: center;
  align-items: center;

  span{
    transform: skew(20deg);
    font-family: boxeador;


  }
  &:hover{
    background-color: $blanco;
    color: black;
    transition: ease-in-out 300ms;

  }

}
