$blanco:#FFFFFF;
$primario:#697903;
$fondo:#000000;
$degradado:linear-gradient(150deg, rgb(43, 49, 18) 36%, $primario 54%, rgb(43, 49, 18) 66%);
$degradadoFondo: linear-gradient(180deg, rgba(65,65,53,.1) 3%, rgba(255,255,255,.1) 10%);
$degradadoContenedor: linear-gradient(180deg, rgba(205,255,255,.05) 4%, rgba(255,255,255,.1) 87%);
$colorMascara: #414135;
$acento: #D5FF00
