*{
  color: white;
}
.agotadas{
  color: $acento;
}
@font-face{
  font-family: "Bakpia";
  src: url("/assets/fuentes/Bakpia Sabang.otf");
}

@font-face{
  font-family: "Nofex";
  src: url("/assets/fuentes/Nofex.otf");
}

@mixin fuenteMenu($tamaño){
  font-family: Nofex;
  font-size: $tamaño;
}

@mixin fuenteTitulos($tamaño){
  font-family: Bakpia;
  font-size: $tamaño;
}
