@import "screenSizes";

#hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  #enlaceTwitch {
    rotate: -15deg;
    margin-top: 2%;
    margin-bottom: 1%;
    a{
      font-family: Bakpia;
      &:hover {
        text-shadow: 3px 3px purple;
      }
    }
  }

  #imgFondo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    img {
      max-width: 50%;
    }

    #logoHero {
      position: absolute;
      width: 100%;
      height: 100%;
      text-align: center;
      display: flex;
      align-items: center;
      margin-right: 0;
      justify-content: center;


    }
  }
  h1{
    @include fuenteTitulos(2em);
  }

  h2{
    @include fuenteTitulos(1.6em);
  }

  h3{
    @include fuenteTitulos(1.4em);
  }
  #informacion {
    width: 50%;

    main {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

    }

    footer {
      display: flex;
      flex-direction: column;
      width: 100%;
      row-gap: 20px;

      div {
        display: flex;
        @media screen and (max-width: $movil) {
          flex-direction: column;
          align-items: center;
          justify-content: center;
          row-gap: 20px;
        }
        @media screen and (min-width: $movil+1) {
          flex-direction: row;
          margin-bottom: 1%;
        }
        justify-content: space-around;
      }


    }
  }
}
