.boxerDetail{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  header{
    display: flex;
    align-items: center;
    justify-content: center;
    color: $acento;
  }
  main{
    .imagenBoxeador{
      display: flex;
      align-items: center;
      justify-content: center;
      img{
        max-width: 20vw;
      }
    }
    .infoBoxeador{
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
