.navbar {
  display: flex;
  flex-direction: row;
  max-height: 100px;

  &_desktop {
    @extend .navbar;
    justify-content: space-around;
    padding-top: 5px;
    width: 90%;
    margin-left: 5%;
    .navbarLink {
      display: flex;
      justify-content: center;
      width: 100%;
      margin-left: 5px;
      margin-right: 5px;
      &:hover {
        background: $degradadoFondo;
      }
      .navbarLinkItem {
        display: flex;
        align-items: center;
        padding-top: 8%;
        a {
          @include fuenteMenu(1.2em);
          text-decoration: none;
          text-align: center;
        }
      }
    }
    .navbarBrand {
      width: 110px;
      height: 110px;
    }
  }

  &_movil {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-content: center;
    justify-content: center;

    .capaLogo {
      grid-column-start: 2;
      grid-column-end: 2;
      width: 100%;
      display: flex;
      justify-items: center;
      align-items: center;
    }

    .capaBtn {
      width: 100%;
      grid-column-start: 3;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-right: 5%;

      .btn-menu {
        color: $blanco;
        text-align: end;
      }
    }
  }
}

.menuMovil {
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100vw;
  height: 100%;
  background-color: $fondo;

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 75%;
    padding-top: 1%;
    color: $blanco;
  }

  hr {
    width: 75%;
    border: none;
  }

  img {
    max-width: 25%;
  }
}

.separador {
  width: 90%;
  margin-left: 5%;
  margin-top: 1%;
  hr {
    border: 3px solid #cfcdcd;
    border-radius: 300px/10px;
    height: 0px;
    text-align: center;
  }
}
