#menu{
  align-items: center;
  justify-content: space-around;
  height: 20vh;
  .nav-link{
    color: $blanco;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    div{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
    &:hover{
      background: $degradadoFondo;
    }
  }

}

.container-fluid{
  display: flex;
  align-items: center;
  justify-content: flex-end!important;

}
.navbar-toggler{
  color: white;

}


#logoVelada{
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
  justify-content: center;
  img{
    width: 5%;
  }
  z-index: -1;

  hr{
    width: 100%;
    color: $blanco;
  }
}
